<template>
    <span v-if="error" class="mt-1 block text-sm font-semibold text-red-400">
        {{ error }}
    </span>
</template>

<script setup lang="ts">
defineProps<{
    error: string
}>()
</script>
