<template>
    <textarea
        v-model="data"
        :class="{
            'bg-red-300/50': hasError,
        }"
        class="block rounded border bg-white px-2 py-1 text-black dark:border-gray-600 dark:bg-gray-800 dark:text-white"
    />
</template>

<script setup lang="ts">
import { useVModel } from "@vueuse/core"

const props = defineProps<{
    modelValue?: string
    hasError?: boolean
}>()

const emit = defineEmits(["update:modelValue"])

const data = useVModel(props, "modelValue", emit)
</script>
