<template>
    <Head>
        <title>{{ dish.name }}</title>
    </Head>

    <PageHeader class="my-4" :title="`Dish: ${dish.name}`"></PageHeader>

    <div>
        <img :src="dish.image" :alt="`Image of ${dish.name}`" />
    </div>
</template>

<script setup lang="ts">
import { Head } from "@inertiajs/vue3"
import AppLayout from "@/Layouts/AppLayout.vue"
import PageHeader from "@/Components/Typography/PageHeader.vue"

defineOptions({
    layout: AppLayout,
})

defineProps<{
    dish: {
        id: string
        name: string
        image: string
    }
}>()
</script>
