<template>
    <Head>
        <title>Contact Us</title>
    </Head>

    <PageHeader class="my-4" title="Contact Us"></PageHeader>

    <p class="mb-3">To contact us, fill out this form:</p>

    <form class="flex flex-col gap-3" method="post" @submit.prevent="submit">
        <div>
            <FormFieldLabel for="name"> Your name: </FormFieldLabel>
            <FormTextField id="name" v-model="form.name" :has-error="form.errors.name" placeholder="John Doe" />
            <FormFieldError :error="form.errors.name" />
        </div>

        <div>
            <FormFieldLabel for="email"> Your email: </FormFieldLabel>
            <FormTextField
                id="email"
                v-model="form.email"
                :has-error="form.errors.email"
                placeholder="john.doe@example.com"
            />
            <FormFieldError :error="form.errors.email" />
        </div>

        <div>
            <FormFieldLabel for="content"> Content: </FormFieldLabel>
            <FormTextAreaField
                id="content"
                v-model="form.content"
                :has-error="form.errors.content"
                placeholder="Your website is so lovely to use!"
            />
            <div class="mt-1 text-sm">{{ contentLength }} out of 200 characters</div>
            <FormFieldError :error="form.errors.content" />
        </div>

        <div>
            <PrimaryButton :disabled="form.processing" type="submit">Send email</PrimaryButton>
        </div>
    </form>
</template>

<script setup lang="ts">
import { Head, useForm } from "@inertiajs/vue3"
import AppLayout from "@/Layouts/AppLayout.vue"
import PageHeader from "@/Components/Typography/PageHeader.vue"
import FormFieldError from "@/Components/Forms/FormFieldError.vue"
import { computed } from "vue"
import FormFieldLabel from "@/Components/Forms/FormFieldLabel.vue"
import FormTextField from "@/Components/Forms/FormTextField.vue"
import FormTextAreaField from "@/Components/Forms/FormTextAreaField.vue"
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue"

defineOptions({
    layout: AppLayout,
})

const form = useForm({
    name: "",
    email: "",
    content: "",
})

const contentLength = computed(() => form.content.length)

const submit = () => {
    form.post("/contact")
}
</script>
