<template>
    <Head>
        <title>Home</title>
    </Head>

    <PageHeader class="my-4" title="Home"></PageHeader>

    <p>Welcome to Foodii, a small app that shows of Inertia!</p>
</template>

<script setup lang="ts">
import { Head } from "@inertiajs/vue3"
import AppLayout from "@/Layouts/AppLayout.vue"
import PageHeader from "@/Components/Typography/PageHeader.vue"

defineOptions({
    layout: AppLayout,
})
</script>
