<template>
    <Head>
        <title>Order</title>
    </Head>

    <PageHeader class="my-4" title="Order Food" />

    <div class="grid max-h-screen w-full grid-cols-1 gap-6 overflow-y-scroll md:grid-cols-3">
        <template v-for="dish of dishes">
            <div class="rounded-xl border px-3 py-2 dark:border-gray-600 dark:bg-gray-800">
                <h3 class="text-lg font-semibold">{{ dish.name }}</h3>
                <img class="mx-auto h-64" :src="dish.image" :alt="`Image of ${dish.name}`" />
                <div>
                    <Link class="text-sm font-semibold hover:underline" :href="`/dish/${dish.id}`"> Read more </Link>
                </div>
            </div>
        </template>
    </div>
</template>

<script setup lang="ts">
import AppLayout from "@/Layouts/AppLayout.vue"
import { Head, Link } from "@inertiajs/vue3"
import PageHeader from "@/Components/Typography/PageHeader.vue"

defineOptions({
    layout: AppLayout,
})

defineProps<{
    dishes: {
        id: string
        name: string
        image: string
    }[]
}>()
</script>
