<template>
    <nav class="flex flex-row bg-yellow-300 px-4 py-3 text-black">
        <div class="mr-4 text-2xl font-bold">Foodii</div>
        <ul class="flex flex-row items-center justify-center">
            <li class="px-2">
                <Link href="/"> Home </Link>
            </li>
            <li class="px-2">
                <Link href="/order"> Order Food </Link>
            </li>
            <li class="px-2">
                <Link href="/contact"> Contact </Link>
            </li>
        </ul>
        <ul class="ml-auto flex flex-row items-center justify-center">
            <li class="px-2">
                Node: <code>{{ host }}</code>
            </li>
        </ul>
    </nav>

    <div class="mx-auto mt-4 max-w-screen-xl bg-green-300 px-4 py-2" v-if="info">
        {{ info }}
    </div>

    <div class="mx-auto max-w-screen-xl px-4 py-2">
        <slot />
    </div>
</template>

<script setup lang="ts">
import { Link, usePage } from "@inertiajs/vue3"
import { computed } from "vue"

const info = computed(() => usePage().props.flash?.info)
const host = computed(() => usePage().props.node?.name)
</script>
