<template>
    <div>
        <h1 class="text-bold text-2xl">
            {{ title }}
        </h1>
    </div>
</template>

<script setup lang="ts">
defineProps<{
    title: string
}>()
</script>

<style scoped></style>
